<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.dibcbks.mapper.UserMapper">
	 <resultMap id="BaseResultMap" type="cn.dibcbks.entity.User">
	    <id column="id" property="id" />
	    <result column="id_card" property="idCard" />
	    <result column="username" property="username" />
	    <result column="password" property="password" />
	    <result column="phone" property="phone" />
	    <result column="unit_id" property="unitId" />
	    <result column="unit_name" property="unitName" />
	    <result column="role_id" property="roleId" />
	    <result column="role_name" property="roleName" />	    
	    <result column="department_id" property="departmentId" />
	    <result column="department_name" property="departmentName" />
	    <result column="openid" property="openid" />	    
	    <result column="deparment" property="deparment" />
	    <result column="duty" property="duty" />
	    <result column="age" property="age" />
	    <result column="health_certificate_code" property="healthCertificateCode" />
		<result column="health_certificate" property="healthCertificate" />
		<result column="head_url" property="headUrl" />
		<result column="parent_id" property="parentId" />
		<result column="sex" property="sex" />
		<result column="type" property="type" />
		<result column="uuid" property="uuid" />
		<result column="authorization" property="authorization" />		
		<result column="create_time" property="createTime" />
	</resultMap>

	<insert id="insert" parameterType="cn.dibcbks.entity.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO  user
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="idCard != null">
	        id_card,
	      </if>
	      <if test="username != null">
	        username,
	      </if>
	      <if test="password != null">
	        password,
	      </if>
	      <if test="phone != null">
	        phone,
	      </if>
	      <if test="unitId != null">
	        unit_id,
	      </if>
	      <if test="roleId != null">
	        role_id,
	      </if>
	      <if test="openid != null">
	        openid,
	      </if>	
	      <if test="deparment != null">
	        deparment,
	      </if>	      
	      <if test="duty != null">
	        duty,
	      </if>
	      <if test="age != null">
	        age,
	      </if>
	      <if test="healthCertificateCode != null">
	        health_certificate_code,
	      </if>
	      <if test="healthCertificate != null">
	        health_certificate,
	      </if>
	      <if test="headUrl != null">
	        head_url,
	      </if>
	      <if test="parentId != null">
	        parent_id,
	      </if>
	      <if test="sex != null">
	        sex,
	      </if>
	      <if test="type != null">
	        type,
	      </if>
	      <if test="uuid != null">
	        uuid,
	      </if>
	      <if test="authorization != null">
	        authorization,
	      </if>	      
	      <if test="createTime != null">
	        create_time,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="idCard != null">
	        #{idCard},
	      </if>
	      <if test="username != null">
	        #{username},
	      </if>
	      <if test="password != null">
	        #{password},
	      </if>
	      <if test="phone != null">
	        #{phone},
	      </if>
	      <if test="unitId != null">
	        #{unitId},
	      </if>
	       <if test="roleId != null">
	        #{roleId},
	      </if>
	      <if test="openid != null">
	        #{openid},
	      </if>	
	      <if test="deparment != null">
	        #{deparment},
	      </if>
	      <if test="duty != null">
	        #{duty},
	      </if>
	      <if test="age != null">
	        #{age},
	      </if>
	      <if test="healthCertificateCode != null">
	        #{healthCertificateCode},
	      </if>
	      <if test="healthCertificate != null">
	        #{healthCertificate},
	      </if>
	      <if test="headUrl != null">
	        #{headUrl},
	      </if>
	      <if test="parentId != null">
	        #{parentId},
	      </if>
	      <if test="sex != null">
	        #{sex},
	      </if>
	      <if test="type != null">
	        #{type},
	      </if>
	      <if test="uuid != null">
	        #{uuid},
	      </if>
	      <if test="authorization != null">
	        #{authorization},
	      </if>
	      <if test="createTime != null">
	        #{createTime},
	      </if>
	    </trim>
	</insert>
	
	<!--查询用户 -->
	<select id="select" resultMap="BaseResultMap"> 
		SELECT
			u.id,
			u.id_card,
			u.username,
			u.`password`,
			u.phone,
			u.unit_id,
			u.role_id,
			u.duty,
			u.age,
			u.health_certificate_code,
			u.health_certificate,
			u.head_url,
			u.openid,
			u.parent_id,
			u.sex,
			u.type,
			u.uuid,
			u.authorization,
			u.`status`,
			u.create_time,
			n.unit_name,
			r.role_name,		
			d.department_id,
			d.department_name
		FROM
			`user` AS u
		LEFT JOIN unit AS n ON n.unit_id = u.unit_id
		LEFT JOIN role AS r ON r.role_id = u.role_id
		LEFT JOIN department AS d ON r.department_id = d.department_id AND d.unit_id = u.unit_id
		<if test="where != null">where ${where}</if>
		<if test="orderBy != null">order by ${orderBy}</if>
		<if test="offset != null">limit ${offset},${countPerPage}</if>
	</select>
	
	<!-- 查询单个用户信息 -->
	<select id="queryUser" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			u.id,
			u.id_card,
			u.username,
			u.`password`,
			u.phone,
			u.unit_id,
			u.role_id,
			u.duty,
			u.age,
			u.health_certificate_code,
			u.health_certificate,
			u.head_url,
			u.openid,
			u.parent_id,
			u.sex,
			u.type,
			u.uuid,
			u.authorization,
			u.`status`,
			u.create_time,
			n.unit_name,
			r.role_name,		
			d.department_id,
			d.department_name
		FROM
			`user` AS u
		LEFT JOIN unit AS n ON n.unit_id = u.unit_id
		LEFT JOIN role AS r ON r.role_id = u.role_id
		LEFT JOIN department AS d ON r.department_id = d.department_id AND d.unit_id = u.unit_id
		WHERE
			u.id_card = #{idCard} 
	</select>
	 
	<!-- 查询单个用户信息 -->
	<select id="queryUserByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			u.id,
			u.id_card,
			u.username,
			u.`password`,
			u.phone,
			u.unit_id,
			u.role_id,
			u.duty,
			u.age,
			u.health_certificate_code,
			u.health_certificate,
			u.head_url,
			u.openid,
			u.parent_id,
			u.sex,
			u.type,
			u.uuid,
			u.authorization,
			u.`status`,
			u.create_time,
			n.unit_name,
			r.role_name,		
			d.department_id,
			d.department_name
		FROM
			`user` AS u
		LEFT JOIN unit AS n ON n.unit_id = u.unit_id
		LEFT JOIN role AS r ON r.role_id = u.role_id
		LEFT JOIN department AS d ON r.department_id = d.department_id AND d.unit_id = u.unit_id
		WHERE
			u.phone = #{phone}
	</select>
	
	<!-- 查询单个用户信息 -->
	<select id="queryUserByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			u.id,
			u.id_card,
			u.username,
			u.`password`,
			u.phone,
			u.unit_id,
			u.role_id,
			u.duty,
			u.age,
			u.health_certificate_code,
			u.health_certificate,
			u.head_url,
			u.openid,
			u.parent_id,
			u.sex,
			u.type,
			u.uuid,
			u.authorization,
			u.`status`,
			u.create_time,
			n.unit_name,
			r.role_name,		
			d.department_id,
			d.department_name
		FROM
			`user` AS u
		LEFT JOIN unit AS n ON n.unit_id = u.unit_id
		LEFT JOIN role AS r ON r.role_id = u.role_id
		LEFT JOIN department AS d ON r.department_id = d.department_id AND d.unit_id = u.unit_id
		WHERE
			u.openid = #{openid}
	</select>

	<update id="updateById"  parameterType="cn.dibcbks.entity.User">
		update user
	    <set>
	      <if test="idCard != null">
	        id_card = #{idCard},
	      </if>
	      <if test="username != null">
	        username = #{username},
	      </if>
	      <if test="password != null">
	        password = #{password},
	      </if>
	      <if test="phone != null">
	        phone = #{phone},
	      </if>
	      <if test="unitId != null">
	        unit_id = #{unitId},
	      </if>
	      <if test="roleId != null">
	        role_id = #{roleId},
	      </if>
	      <if test="openid != null">
	        openid = #{openid},
	      </if>
	      <if test="deparment != null">
	        deparment = #{deparment},
	      </if>
	      <if test="duty != null">
	        duty = #{duty},
	      </if>
	      <if test="age != null">
	        age = #{age},
	      </if>
	      <if test="healthCertificateCode != null">
	        health_certificate_code = #{healthCertificateCode},
	      </if>
	      <if test="healthCertificate != null">
	        health_certificate = #{healthCertificate},
	      </if>
	      <if test="headUrl != null">
	        head_url = #{headUrl},
	      </if>
	      <if test="parentId != null">
	        parent_id = #{parentId},
	      </if>
	      <if test="sex != null">
	        sex = #{sex},
	      </if>
	      <if test="type != null">
	        type = #{type},
	      </if>
	      <if test="uuid != null">
	        uuid = #{uuid},
	      </if>
	      <if test="authorization != null">
	        authorization = #{authorization},
	      </if>
	      <if test="createTime != null">
	        create_time = #{createTime},
	      </if> 
	    </set>
	    where id = #{id}
	</update>

	
	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM user where id = #{id};
	</delete>
</mapper>
	
	
	
	
	
	
	
	
	