<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.dibcbks.mapper.VideoAddressMapper">
	 <resultMap id="BaseResultMap" type="cn.dibcbks.entity.VideoAddress">
	    <result column="unit_id" property="unitId" />
	    <result column="video_address" property="videoAddress" />
	    <result column="camera_position" property="cameraPosition" />
	    <result column="video_type" property="videoType" />	
	    <result column="stream_type" property="streamType" />	
	</resultMap>
	<!--查询用户 -->
	<select id="SelectVideoAddressById" resultMap="BaseResultMap"> 
		SELECT
			unit_id,
			video_address,
			camera_position,
			video_type,
			stream_type,
			video_id
		FROM
			video_address 
		WHERE 
			unit_id=#{id}
	</select>	
</mapper>
	
	
	
	
	
	
	
	
	