<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.dibcbks.mapper.VideoAddressMapper">
	 <resultMap id="BaseResultMap" type="cn.dibcbks.entity.VideoAddress">
	    <result column="unit_id" property="unitId" />
	    <result column="unit_name" property="unitName" />
	    <result column="video_address" property="videoAddress" />
	    <result column="camera_position" property="cameraPosition" />
	    <result column="video_type" property="videoType" />	
	    <result column="stream_type" property="streamType" />	
	</resultMap>
	<!--查询用户 -->
	<select id="SelectVideoAddressById" resultMap="BaseResultMap"> 
		SELECT
			v.unit_id,
			n.unit_name,
			v.video_address,
			v.camera_position,
			v.video_type,
			v.stream_type,
			v.video_id
		FROM
			video_address v 
		LEFT JOIN unit n ON n.unit_id = v.unit_id
		WHERE 
			v.unit_id=#{id}
	</select>	
</mapper>
	
	
	
	
	
	
	
	
	